* {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
}

.header {
    margin: 65px 300px;
}

.container {
    width: 75%;
    max-width: 1440px;
}

.banner {
    background-image: url('../images/BannerImage.png');
    padding: 20px;
    /* position: absolute; */
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    left: 300px;
    margin: 500 140;
}

.small-text {

    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    margin: 50px 100px 50px 100px;
    height: 40px;
}

.big-text {
    color: #ffffff;
    font-size: 68px;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 0%;
    text-align: center;
}

.banner-text {
    background-image: linear-gradient(to top, #fdfafa00, #090909);
    width: 1280px;
    height: 500px;
    padding-top: 90px;
}

/* 65% offer  section */

.sixtyfive-main {
    align-content: center;
    background-color: none;
    border-color: rgb(7, 22, 22);
    height: 600px;
    width: 800px;
    margin: 0px 400px 0px 550px;

}

.text-top {
    text-align: center;
}

.offer-top {
    font-family: "Inter", sans-serif;
    color: #ff0000;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    text-align: center;
}

.holiday {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;

}

.all-categories {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
}

.offer-img {
    width: 602.9px;
    height: 400px;

}

/* midnight party */



.bg-pic {

    background-image: url('../images/midnightparty.png');
    /* background-image: linear-gradient(to top, #fdfafa00, #090909); */
    padding: 20px;
    /* position: absolute; */
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    left: 300px;
    margin-top: 120px;
    margin-left: 300px;


    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 16px;
}

.welcome-heading {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    text-align: left;

    width: 642px;
    height: 176px;
    left: 20.15%;
    right: 31.21%;
    top: 303.67%;
    bottom: -233%;
}

.welcome-text {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;


    width: 697px;
    height: 60px;
    left: 266px;
    right: 357px;
    top: 2022px;
    bottom: -1482px;
}

.btn-join-now {
    background-color: gold;
    margin: 20px;
    padding: 10px 20px;
}

/* join now extra */

.join-now-bg {
    border-radius: 16px;

    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);

    width: 1320px;
    height: 400px;

    margin-left: 300px;
}

.Join-now {
    padding: 100px 380px 200px 280px;
    text-align: center;
}

.red-color {
    color: #ff0000;
}

#btn-join-now {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    background: rgb(255, 0, 0);
    color: #ffffff;
}

/* coming-soon-main */

.coming-soon-main {
    width: 1320px;
    margin: 200px 0px 200px 300px;

    /* background-color: #00ff6a; */
    display: flex;
    align-items: center;
}

.best-offer {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
    text-align: left;
}

.coming-soon {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin: 10px 0px;
    text-align: left;
}

.describtion {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.round-pic {
    border-radius: 50%;
    padding: 20px;
    border-style: solid;
    border-color: #ff0000;
    border-width: 15px;
    margin-left: 100px;
}

.right-area {
    margin-top: 50px;
    margin-left: 100px;
}

.twenty-twenty-four {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: left;
}

.describtion-right {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    /* margin: 20px; */
}


/* awesome-portfolio */

.awesome-portfolio {
    /* background-color: rgba(198, 199, 170, 0.432); */

    width: 1320px;
    height: 1163px;
    margin: 100px 300px 200px 300px;

}

.best-gift {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.portfolio-heading {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.portfolio-text {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    width: 800px;
}

.pic-collection {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;

}

.pic1 {
    /* box-shadow: 0px 6px 50px 0px #7814147b; */
    border-style: dashed;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pic1:hover, .pic2:hover, .pic3:hover, .pic4:hover, .pic5:hover, .pic6:hover{
        box-shadow: 0px 6px 50px 0px #7814147b;

}

.pic2 {
    /* box-shadow: 0px 6px 50px 0px #7814147b; */
    border-style: dashed;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pic3 {
    /* box-shadow: 0px 6px 50px 0px #7814147b; */
    border-style: dashed;

    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pic4 {
    /* box-shadow: 0px 6px 50px 0px #7814147b; */
    border-style: dashed;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pic5 {
    /* box-shadow: 0px 6px 50px 0px #7814147b; */
    border-style: dashed;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pic6 {
    /* box-shadow: 0px 6px 50px 0px #7814147b; */
    border-style: dashed;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* news letter */

#newsletter {
    margin: 50px 0;
    /* margin-right: 900px; */
}

.newsletter-main {
    /* background-image: url('../images/newsletter-bg.png'); */
    border-radius: 16px;
    margin-left: 300px;
    /* margin-right: 900px; */
    background: #ff00000d;
    padding: 60px;

    /* Rectangle 11 */
    /* position: absolute; */
    width: 1200px;
    height: 400px;

}

.newsletter-pic-text {
    /* margin: 5px 212px 0px 400px ; */
    text-align: center;


    /* align-items: center; */
}

#newsletter form {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    gap: 0px;
}

#newsletter form input {
    flex-grow: 1;
    border: none;
    border-radius: 3px;
    padding: 10px;
    font-size: 20px;
    outline: none;
}

.newsletter-subscribe {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}

.newsletter-text {

    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.btn-subscribe {
    color: white;
    background-color: #ff0000;
    padding: 0px 20px 0px 20px;
    border-radius: 50px;
    border-radius: 0px 50px 50px 0px;
    font-weight: 600;
    background: rgb(255, 0, 0);
}

/* footer */

footer {
    background-color: black;

    margin-top: 100px;
    padding: 20px 300px 20px 300px;

    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;


}

.footer-top {
    display: flex;
    gap: 600px;
    margin-top: 50px;
}

.footer-column {
    width: 50%;
}

.line {
    margin: 100px 0px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.social-links {
    align-items: center;
    margin: 50px 400px 50px 500px;
}

.social-links a {
    margin-right: 10px;


}